body{margin:40px;}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 12px;
    line-height: 4;
    border-radius: 35px;
}
.btn-square {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 12px;
    line-height: 4;
}


