<div class="container">
    <table>
        <tr>
            <td>
                <h4>Room's radius:</h4>
            </td>
            <td>
                <label>R :</label> <select ng-model="roomR" ng-options="roomR for roomR in radius"></select>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Robot's position:</h4>
            </td>
            <td>
                <label>X :</label> <select ng-model="robotX" ng-options="robotX for robotX in dimension"></select>
                <label>Y :</label><select ng-model="robotY" ng-options="robotY for robotY in dimension"></select>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Commands:</h4>
            </td>
            <td>
                <input type="text" class="form-control" id="input_command" placeholder="Enter V/H/G or L/R/F" ng-model="commands">
            </td>
            <td>
                <button type="submit" class="btn btn-primary" ng-click="circle(roomR,robotX,robotY,commands);">Move</button>
            </td>
        </tr>
        <tr>
            <td>
                <h4>The robot is now at: </h4>
            </td>
            <td>
                <code>{{result}}</code>
            </td>
        </tr>
    </table>
</div>